<div>
  <br>
  <form (ngSubmit)="onFilterApplied(val)" #val="ngForm">
  <div align="center" class="column placement" style="display: inline-block">
  <label class="asterisk-if-mandatory" for="workload">Course Workload</label>
  <select required
          class="asterisk-if-mandatory form-control" (change)="changeWorkload($event)"
          id="workload">
    <option value="select value">Select Workload</option>
    <option *ngFor="let wVal of Workload" [ngValue]="wVal">
      {{ wVal }}
    </option>
  </select>
</div>
    <br><br>

  <div class="form-group">
    <div align="center" class="column placement">
      <label class="asterisk-if-mandatory" for="rating">Course Rating</label>
      <select required
              class="asterisk-if-mandatory form-control" (change)="changeRating($event)"
              id="rating">
        <option value="select value" ngModel name="rating">Select Rating</option>
        <option *ngFor="let rVal of Rating" [ngValue]="rVal">
          {{ rVal }}
        </option>
      </select>
    </div>
    <br><br>

<!--    <div align="center" class="column placement">
      <label class="asterisk-if-mandatory" for="jobRole">Job Role</label>
      <select required
              class="asterisk-if-mandatory form-control" (change)="changeJobRole($event)"
              id="jobRole">
        <option value="Select Workload">Select Job Role</option>
        <option *ngFor="let jVal of JobRole" [ngValue]="jVal">
          {{ jVal }}
        </option>
      </select>
    </div>-->

    <div align="center" class="column placement">
      <label class="asterisk-if-mandatory" for="term">Term</label>
      <select required
              class="asterisk-if-mandatory form-control" (change)="changeTerm($event)"
              id="term">
        <option value="select value">Select Term</option>
        <option *ngFor="let termVal of Term" [ngValue]="termVal">
          {{ termVal }}
        </option>
      </select>
    </div>

    <div align="center" class="column placement">
      <label class="asterisk-if-mandatory" for="courseType">Course Type</label>
      <select required
              class="asterisk-if-mandatory form-control" (change)="changeCourseType($event)"
              id="courseType">
        <option value="select value">Select Course Type</option>
        <option *ngFor="let typeVal of CourseType" [ngValue]="typeVal">
          {{ typeVal }}
        </option>
      </select>
    </div>
  </div>
    <div align="center">
      <button pButton type="submit" class=" p-button-raised p-button-success" [style]="{'margin-top': '2em'}">Submit</button>
      <button pButton type="button" class=" p-button-raised p-button-info"  (click)="onReset(val)" [style]="{'margin-left': '2em'}">Reset</button>
      <button pButton type="button" class="p-button-danger p-button-raised" (click)="onCancel(val)" [style]="{'margin-left': '2em'}">Cancel</button>
    </div>
  </form>
</div>
