.p-datatable-scrollable .p-datatable-thead>tr>th, .p-datatable-scrollable .p-datatable-tbody>tr>td, .p-datatable-scrollable .p-datatable-tfoot>tr>td {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  color: whitesmoke;
  background: darkcyan;
  margin-left: 50px;
  font-size: small;
}

.p-datatable-scrollable .p-datatable-thead>tr>th, .p-datatable-scrollable .p-datatable-tbody>tr>td, .p-datatable-scrollable .p-datatable-tfoot>tr>td {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  font-size: small;
}

.p-chart {
  display: block;
  box-sizing: border-box;
  height: 300px;
  width: 300px;
}


