:host ::ng-deep element.style {
  height: 45px;
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0rem 0;
}

.p-card {
  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
}

/*:host ::ng-deep .p-component, .p-component * {
  box-sizing: border-box;
  border-radius: 18px;
}*/

:host ::ng-deep .p-card .p-card-body {
  padding-left: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
