.p-fluid {
  color: midnightblue;
}

:host ::ng-deep .p-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: revert;
  background-color: #00827F;
  font-color: white;
}

p.fontColor1 {
  color: white;
  font-size: xx-large;
  padding-left: 500px;
}

:host ::ng-deep .p-button {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  background: #495057;
  border: 1px solid #495057;
  font-size: medium;
}

