<p-toolbar style="width: -webkit-fill-available;" styleClass="p-fluid">
 <!-- <div class="p-toolbar-group-left">
    <p-image src="" width="200"></p-image>
  </div>-->

  <div>
    <div class="field col-24 md:col-20"  style="padding-left: 50px;padding-top: 18px;">
    <span class="p-float-label" >
            <p class="fontColor1">Course Recommendation System</p>
        </span>
    </div>
    <br>
  </div>
  <div class="p-toolbar-group-right" style="padding-right: 30px">
    <p-button (click)="onLogOut()" label="Log Out" icon="pi pi-sign-out"></p-button>
  </div>
</p-toolbar>
